<%- include("partials/header"); -%>



<div class="row">
  <%if(users === null){%>
    <p>Welcome</p>
  <%} else {%>
  <% users.forEach(function(user){ %>
  <% for(let i = 0; i < user.recipes.length; i++){ %>
  <% var recipeIndex = i; %>
  <%var imgName = user.recipes[i].image.get('originalname');%>
  <%var imgFileName = user.recipes[i].image.get('filename');%>

  <div class="col-md-3 col-sm-6 home-col">
    <div class="card home-card">
      <div class="card-top">
        <a href="/posts/<%=user._id%>/<%= recipeIndex %>/<%= imgName %>">
          <img class="card-img-top home-card-img" src="/image/<%= imgFileName %>" alt="recipe-image">
        </a>
      </div>
      <div class="card-body home-card-body">
        <a href="/posts/<%=user._id%>/<%= imgName %>">
          <span class="card-title home-card-title"><%=user.recipes[i].title%></span>
        </a>
        <p class="card-text home-card-text"><%=user.recipes[i].introduction.length < 65 ? user.recipes[i].introduction : user.recipes[i].introduction.substring(0, 65) + "..."%></p>
        <%if(user.recipes[i].totalTimeHour === null){%>
          <p class="bottom"><%=user.recipes[i].totalTimeMin%> Mins</p>
        <%} else if(user.recipes[i].totalTimeMin === null){%>
          <%if(user.recipes[i].totalTimeHour <= 1){%>
            <p class="bottom"><%=user.recipes[i].totalTimeHour%> Hour</p>
          <%} else {%>
            <p class="bottom"><%=user.recipes[i].totalTimeHour%> Hours</p>
          <%}%>
        <%} else if(user.recipes[i].totalTimeHour != null && user.recipes[i].totalTimeMin != null){%>
          <%if(user.recipes[i].totalTimeHour <= 1){%>
            <p class="bottom"><%=user.recipes[i].totalTimeHour%> Hour and <%=user.recipes[i].totalTimeMin%> Mins</p>
          <%} else {%>
            <p class="bottom"><%=user.recipes[i].totalTimeHour%> Hours and <%=user.recipes[i].totalTimeMin%> Mins</p>
          <%}%>
        <%}%>
        <a href="/user/<%=user._id%>" class="author">By <%=user.username%></a>

      </div>

    </div>
  </div>
  <%}%>
  <%})%>

  <%}%>
</div>



<%- include("partials/footer"); -%>
