<%- include("partials/header"); -%>

<div class="container-home">
  <div class="row">
    <% users.forEach(function(user){ %>
    <% for(let i = 0; i < user.recipes.length; i++){ %>
    <% if(user.recipes[i].title.includes(matchRecipeTitle)){ %>
    <% var recipeIndex = i; %>
    <% var imgName = user.recipes[i].image.get('originalname'); %>
    <% var imgFileName = user.recipes[i].image.get('filename'); %>

    <div class="col-md-3 col-sm-6 home-col">
      <div class="card home-card">
        <div class="card-top">
          <a href="/posts/<%= user._id %>/<%= recipeIndex %>/<%= imgName %>">
            <img src="/image/<%= imgFileName %>" alt="recipe-image">
          </a>
        </div>
        <div class="card-body home-card-body">
          <a href="/posts/<%= user._id %>/<%= imgName %>">
            <span class="card-title home-card-title"><%= user.recipes[i].title %></span>
          </a>
          <p class="card-text home-card-text"><%= user.recipes[i].introduction.length < 65 ? user.recipes[i].introduction : user.recipes[i].introduction.substring(0, 65) + "..." %></p>
          <p class="author">By <%= user.username %></p>
        </div>
      </div>
    </div>

  <%}%>
  <%}%>
  <%})%>
  </div>
</div>

<%- include("partials/footer"); -%>
